/*#region container layout */
.alarm-container {
    box-sizing: border-box;
    margin: 2rem 0 5rem 0;
    padding: 10px;

    border-radius: 3px;
    background: rgb(131,131,131);
    background: linear-gradient(90deg, rgba(131,131,131,1) 0%, rgba(107,107,107,1) 35%); 
    /* add shadows to create the "card" effect */
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.2);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 45px);
    grid-template-areas:
    "time   time   name   name"
    "repeat repeat repeat repeat"
    "effect effect option option"
    "save   save   enable enable";
    column-gap: 10px;
    row-gap: 30px;
}
.alarm-container:hover {
    /* On mouse-over, add a deeper shadow */
    /* box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.2); */
    box-shadow: none;
}
/*#endregion container layout */


/*#region globals */
* {
    font-family: Helvetica, Arial, sans-serif;
}
label {
    user-select: none;
}
/*#endregion globals */


/*#region time */
.time-input-container {
    grid-area: time;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
/*#endregion time */


/*#region name */
.name-input-container {
    grid-area: name;

    display: flex;
    justify-content: space-between;
}
#name-input-label {
    /* use fixed space in grid cell */
    width: 220px;    
    height: 100%;
    min-height: 20px;

    /* align text  */
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #3EB43C;
    font-size: 1.5rem;
    cursor: pointer;
}
#name-input-label:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    background-color: #3cac3b;
    box-shadow: none;
}
/* only show label by default */
#name-input, #name-input-button {
    display: none;
}
#name-input {
    flex-grow: 1; 
}
#name-input-button {
    margin-left: 5px;
}

/* user clicks label to change name */
#name-input.edit, #name-input-button.edit {
    display: inline-block;
}
#name-input-label.edit {
    display: none;
}
/*#endregion name  */


/*#region days */
.repeat-input-container {
    grid-area: repeat;

    display: flex;
    justify-content: space-between;
}
/* disable all checkboxes */
.repeat-input-container input[type="checkbox"] {
    display: none;
}
/* FIRST LABEL */
.repeat-input-container > label {
    justify-self: flex-start;
}
/* ALL LABELS */
.repeat-input-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */

    border-radius: 3px;
    background-color: gray;
    padding: 5px;
    margin: 2px;
    text-align: center;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.2);
}
.repeat-input-container label.checked {
    background-color: #3EB43C;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.2);
}
.repeat-input-container label:hover {
    background-color: rgb(121, 120, 120);
    cursor: pointer;
}
.repeat-input-container label.checked:hover {
    background-color: #3cac3b;
    box-shadow: none;
}

.days-input-container {
    display: none;
}
.days-input-container.visible {
    display: flex;
    justify-content: space-between;
}
/*#endregion days  */


/*#region effect */
.effect-input-container {
    grid-area: effect;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}           
.effect-options-container {
    grid-area: option;
}
.effect-options-container > div {
    display: none;
}
.effect-options-container > div.visible {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}
/*#endregion effect */


/*#region edit button */
.edit-button-container {
    grid-area: save;

    display: flex;
    justify-content: center;
}
.edit-button-container > button {
    width: 100%;
    height: 100%;
    margin: 2px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.2);
}
.edit-button-container > button:hover {
    box-shadow: none;
}
#delete-alarm {
    background-color: rgba(220, 20, 60, 0.7);
}
#delete-alarm:hover {
    background-color: rgba(204, 24, 60, 0.7);
}
#save-alarm {
    background-color: gray;
}
#save-alarm:hover {
    background-color: rgb(121, 120, 120);
}
#save-alarm.hidden {
    display: none;
}
#save-alarm.accepted, #save-alarm.accepted:hover {
    background-color: #3EB43C;
    transition: background-color 2s ease;
}
/*#endregion edit button  */


/*#region enable slider */
.enable-toggle-container {
    grid-area: enable;
}
.enable-toggle-container label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
}
  
.enable-toggle-container input {
    display: none;
}
   
.enable-toggle-container .slider { /* Grundfläche */
    position: relative;
    cursor: pointer;
    width: 4em;
    height: 2em;
    background-color: gray; 
    border-radius: 1em; 
    transition: all .3s ease-in-out;
}
   
.enable-toggle-container  .slider::before {  /* verschiebbarer Button */
    position: absolute;
    content: "";
    height: 1.6em;
    width: 1.6em;
    left: .2em;
    bottom: .2em;
    background-color: white;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
  
.enable-toggle-container input:checked + .slider {
    background-color: #3EB43C; 
}
   
.enable-toggle-container  input:checked + .slider::before {
    transform: translateX(1.9em);
}
/*#endregion enable slider */


/*#region slider */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100px; /* Full-width */
    height: 7px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
/*#endregion slider  */
